.lilita-one-regular {
    font-family: "Lilita One";
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    /* text-align: center; */
    padding-top: 15px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header {
    padding-top: 400px;
    margin-top: -20px;
    background-color: #EDEDE9;
    height: 100px;
    width: 100%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    padding: 0 20px; 
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    font-size: 40px;
    padding-right: 20px;
}

.header-middle {
    flex: 6;
    display: flex;
    align-items: center;        
    justify-content: center;    
    gap: 10px;                  
}

.horizontal-line {
    width: 116px;
    height: 3px;
    background-color: black;
}

.tree-image {
    width: 40px; 
    height: auto;
    margin-left: -10px; 
}

.sidebar {
    position: absolute;
    top: 200px;  
    left: 60px;
    width: 110px;
    height: 490px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 3px solid black;  
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 6em;
    margin-left: 0.5em;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.sidebar-text {
    font-family: "Lilita One";
    font-size: 20px;
    text-align: center;
}

.maths-symbol {
    position: absolute;
    top: 160px;
    left: 55px;
    width: 6em;
    margin-left: 5px;
}

.image-container {
    display: block;
    width: fit-content;
    margin: auto;
    text-align: left;
    position: absolute;
    right: 180px;
    top: 130px;
}

.image-container img {
    border-radius: 68px;
    display: block; /* Ensures text starts below the image */
}

.image-text {
    display: block;
    margin-top: 10px;
    flex-direction: column;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    /* height: 400px; */
    background-color: #bdc1ac;
    border-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.achievements {
    width: 350px;
    height: 250px;
    background-color: #E8E4C6;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lilita One";
    gap: 10px;  
    box-shadow: 1px 1px 5px 9px rgba(0,0,0,0.20);
}

.achievement-text {
    text-align: center;
    font-size: 35px;
    color: #000;
}